.Footer {
  //   background-image: url("../../assets/waves2.svg");
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  background-size: cover;
  background-color: var(--accent-color);
  height: 50vh;
  margin-top: 10rem;
  font-family: var(--font-base);
}

.Footer-img {
  position: relative;
  bottom: 200px;
  width: 100%;
  img {
    width: 100%;
    height: 200px;
    z-index: 0;
  }
}

.Footer-content {
  width: 100%;
  position: relative;
  bottom: 75px;
  // height: 50vh;
  // background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
}

.Footer-content-header {
  h1 {
    text-align: center;
    color: var(--black-color);
    font-size: 54px;
    font-weight: 600;

    // border-bottom: 2px solid var(--secondary-color);
  }

  border-bottom: 4px solid var(--secondary-color);
  width: 60%;
  margin: 0 auto;
}

.Footer-content-main {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      stroke: #42b883;
    }
  }
}
