.BlogWidget {
  width: 100%;
  border-radius: 10px;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.BlogWidget-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;

  h2 {
    text-align: center;
    color: var(--accent-color);
    font-size: 38px;
    width: 40%;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
  }

  .BlogWidget-Blogs-image {
    width: 40%;
    img {
      width: 70%;
      height: auto;
    }

    @media screen and (max-width: 1024px) {
      width: 60%;
      margin: 2rem auto;
      img {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    h2 {
      font-size: 32px;
      width: 90%;
    }
  }
}

.BlogWidget-Blogs {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
