.BlogWidget {
  width: 100%;
  // background-color: var(--paper-color);
  border-radius: 10px;

  padding: 1rem 0;
  margin-bottom: 2rem;
}

.BlogWidget-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  // background-color: var(--paper-color);

  h2 {
    text-align: center;
    color: var(--accent-color);
    font-size: 38px;
    width: 40%;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
  }

  .BlogWidget-Blogs-image {
    width: 40%;
    img {
      width: 70%;
      height: auto;
    }
  }
}

.BlogWidget-Blogs {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.BlogWidget-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  color: var(--white-color);
  padding: 1rem 0;
  h5 {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    color: var(--white-color);
  }
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  p {
    font-size: 12px;
  }

  .BlogWidget-content-info {
    padding-left: 1rem;
  }
}
