@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --font-base: "Poppins", sans-serif;
  --primary-color: #fbe8e2;
  --secondary-color: #3432b7;
  --accent-color: #ef5b76;
  --white-color: #faf5f3;
  --black-color: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
