@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --font-base: "Poppins", sans-serif;
  --primary-color: #ffffff;
  --primary-color: #e6e6e6;
  --white-color: #000000;
  --black-color: #ffffff;
  --secondary-color: #42b883;
  --secondary-color: #0099ff;
  --accent-color: #3f3d56;
  /* --accent-color: #197fc4; */
  --paper-color: #d4d1d1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
