.BlogCard {
  width: 100%;
  min-height: 250px;
  background-color: var(--paper-color);
  border-radius: 20px;
  display: flex;
  // flex-direction: column;
  align-items: top;
  justify-content: flex-start;
  font-family: var(--font-base);
  margin-bottom: 2rem;
  // border: 2px solid var(--accent-color);
  padding: 3rem 0;
}

.BlogCard-Image {
  height: 300px;
  width: 300px;
  position: relative;
  right: 50px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px var(--accent-color);
  }
}

.BlogCard-Content {
  width: 70%;
  height: 100%;
  // background-color: red;
  padding: 2rem;

  .BlogCard-Content-Header {
    h3 {
      text-align: left;
      color: var(--white-color);
      // color: #3f3d56;
      font-size: 28px;
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  .BlogCard-Content-Main {
    margin: 1rem 0;
  }

  button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #3f3d56 0%, #3f3d56 74%);
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff !important;
    // box-shadow: 0px 14px 80px rgb(252 56 56 / 40%);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--font-base);
    border: none;
    cursor: pointer;
  }
}
