.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0rem auto;
  padding: 0 5rem;
  background-color: rgba(0, 0, 0, 0.308);
  h3 {
    font-size: 24px;
    color: white;
  }
  :hover {
    color: white;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 20%;

    li {
      color: white;
      font-size: 20px;
    }
    :hover {
      color: white;
      cursor: pointer;
    }
  }
}
