.app__recc {
  width: 100%;
  min-height: 100vh;

  .app__recc-header {
    width: 80%;
    padding: 10rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app__recc-header-img {
      width: 50%;
    }

    .app__recc-header-info {
      width: 50%;

      text-align: center;

      h1 {
        font-size: 44px;
        color: var(--white-color);
      }
      p {
        margin: 0 auto;
        width: 80%;
        color: var(--white-color);
      }
    }
  }

  .app__recc-body {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
