---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

let postsByYear: Record<number, { year: number; posts: any[] }> = {};

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

posts.map((post) => {
    const year = post.data.pubDate.getFullYear();

    if (!postsByYear[year]) {
        postsByYear[year] = {
            year: year,
            posts: [post],
        };
        return;
    }

    postsByYear[year].posts.push(post);
});
---

<Layout>
    <section
        id="index"
        class="h-screen container mx-auto flex flex-col items-center justify-center"
    >
        <h1
            class="font-main text-center text-7xl sm:text-9xl lg:text-[200px] motion-opacity-in-0 motion-translate-y-in-100 motion-duration-[1s] motion-delay-2000"
        >
            obradovic.blog
        </h1>

        <div class="max-w-2xl mx-auto mt-8 space-y-5 text-center font-normal">
            <p
                class="motion-opacity-in-0 motion-translate-y-in-100 motion-duration-[0.5s] motion-delay-500"
            >
                Hy, I am Antonio, full-stack developer with a passion for
                creating beautiful and functional user experiences. I am a
                self-taught developer and have been coding for over 4 years.
            </p>

            <p
                class="motion-opacity-in-0 motion-translate-y-in-100 motion-duration-[0.5s] motion-delay-1000"
            >
                I base my work on the principles of <span
                    class="font-bold italic">functionality</span
                > and <span class="font-bold italic">simplicity</span>. I
                believe that less is more and that the best solutions are the
                simplest ones.
            </p>

            <p
                class="motion-opacity-in-0 motion-translate-y-in-100 motion-duration-[0.5s] motion-delay-1200"
            >
                You can email me here: <a
                    class="border-b-2 border-primary"
                    href="emailto:antonio@obradovic.dev"
                    >antonio@obradovic.dev</a
                >
                or follow me on <a
                    class="border-b-2 border-primary"
                    href="https://github.com/AntonioObra">GitHub</a
                >.
            </p>
        </div>
    </section>

    <section class="py-40" id="posts">
        <div class="container mx-auto max-w-2xl space-y-20 intersect-once intersect:motion-preset-slide-up motion-delay-400">
            {
                Object.values(postsByYear).sort((a, b) => b.year - a.year).map((yearData) => (
                    <div >
                        <h2 class="text-2xl font-bold mb-4">{yearData.year}</h2>

                        <ul class="space-y-4">
                            {yearData.posts.map((post: any, index) => (
                                <li >
                                    <a href={`/blog/${post.id}/`}>
                                        <article class="p-4 border-b-2 border-slate-400 flex items-center justify-between gap-4 z-40 relative hover:border-blue-500 duration-300 text-blue-100">
                                            <h2 class="text-md font-normal ">
                                                {post.data.title}
                                            </h2>

                                            <p class="text-sm">
                                                <FormattedDate
                                                    date={post.data.pubDate}
                                                />
                                            </p>
                                        </article>
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </div>
    </section>
</Layout>
