.app__about {
  width: 100%;
  background-color: var(--primary-color);

  .app__about-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    width: 80%;
    .app__about-img {
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: auto;
        width: 90%;
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    .app__about-info {
      display: flex;
      width: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      h1 {
        color: var(--white-color);
        font-size: 54px;
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
      }
      p {
        color: var(--white-color);
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
        h1 {
          font-size: 42px;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}
