.app__about {
  height: 60vh;
  width: 100%;
  // margin: 2rem 0;

  .app__about-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .app__about-img {
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        width: 50%;
      }
    }

    .app__about-info {
      display: flex;
      width: 50%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      h1 {
        color: var(--white-color);
        font-size: 44px;
        font-weight: 600;
      }
      p {
        width: 80%;
        color: var(--white-color);
      }
    }
  }
}
