.Header {
  // background-image: url("../../public/images/IMG_1551.JPG");
  // background-image: url("../../public/images/postdetailimg.svg");
  max-height: 70vh;
  // background-size: cover;
  // background-position: top;
  // p  adding-bottom: 300px;
  background-color: black;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
  }
}

.nav {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.CenterHeader {
  width: 60%;
  // background-color: blue;
  color: white;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;

  h1 {
    font-size: 84px;
    text-align: center;
  }
  h5 {
    font-size: 20px;
    text-align: center;
  }
}
