.Footer {
  height: 50vh;
  background-color: black;
  background: url("../../public/images/bg3.svg");
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: red;
}

.right {
  // background-color: red;
  // width: 50%;

  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 2rem;
  }
}
