---
const links = [
 {
   link: "/#index",
   name: "Index",
 },
 {
   link: "/#posts",
   name: "Posts",
 },

];
---

<navbar class="sticky top-[30px] col-span-2 flex justify-center motion-opacity-in-0 motion-translate-y-in-100 motion-duration-[1s] motion-delay-200 z-50">
    <ul class="flex items-center justify-center gap-6 bg-blue-500/90 backdrop-blur-xl ring-4 ring-blue-500/50 w-fit py-2 px-6 rounded-2xl">
        {
            links.map((link) => <li ><a class="text-sm font-semibold text-white" href=`${link.link}`>{link.name}</a></li>)
        }
    </ul>
</navbar>
