<navbar class="sticky h-fit lg:py-60 top-0 col-span-2">
    <ul class="flex flex-col gap-6 text-right">
        <li class="text-white flex gap-2 items-center font-semibold">
            <a href="#about">About</a>
            <div class="bg-blue-500 h-[2px] w-full"></div>
        </li>
        <li class="text-zinc-400 flex gap-2 items-center font-semibold">
            <a href="#posts">Posts</a>
            <div class="bg-zinc-400 h-[2px] w-full"></div>
        </li>
        <li class="text-zinc-400 flex gap-2 items-center font-semibold">
            <a href="#contact">Contact</a>
            <div class="bg-zinc-400 h-[2px] w-full"></div>
        </li>
    </ul>
</navbar>
