.AboutHome {
  height: 80vh;
  background: url("../../public/images/bg2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  h2 {
    color: white;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
  }
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  margin: 0rem auto;
  padding: 5rem 0;

  img {
    width: 25%;
  }
}

.LeftSide {
  width: 50%;
  color: white;

  p {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.blobs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  position: relative;
  top: -50px;

  img {
    width: 10%;
  }

  .img2 {
    position: relative;
    top: -200px;
  }
}
