.FeaturedPosts {
  background-color: white;
  // background-image: url("../../public/images/blob_background.svg");
  // height: 100vh;
  color: black;
  width: 80%;
  margin: 0rem auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem auto;
  // padding: 5rem 0;

  img {
    width: 40%;
  }
}

.LeftSide {
  width: 50%;
  // background-color: red;
  color: black;

  h2 {
    font-size: 38px;

    // text-align: end;
  }
  p {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: end;
  }
}

.container {
  width: 100%;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  // background-color: red;

  // flex-direction: column;
}

.blobs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  position: relative;
  top: -50px;

  img {
    width: 10%;
  }

  .img2 {
    position: relative;
    top: -200px;
  }
}
