.Header {
  // background-image: url("../../public/images/header-background.svg");
  max-height: 100vh;
  // padding-bottom: 300px;
}

.Carousel {
  width: 60%;
  height: 20rem;
  margin: 2rem auto;
  img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
  }
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.LeftHeader {
  width: 20%;
  position: relative;
  top: -200px;
  // background-color: green;
  // height: ;
}

.CenterHeader {
  width: 60%;
  // background-color: blue;
  color: black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: flex-start;
  // position: absolute;

  h1 {
    font-size: 84px;
    text-align: center;
  }
  h5 {
    font-size: 24px;
    text-align: center;

    width: 60%;
    margin: 0 auto;
  }
}

.RightHeader {
  width: 20%;
  position: relative;
  top: 100px;
  // background-color: green;
}

.LeftHeaderImg2 {
  position: relative;
  top: -200px;
  width: 10%;
  margin: 0rem 15rem;
  height: 400px;
  padding: 0;
}

.wave {
  position: relative;
  top: -350px;
}
