.app__blogs {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  font-family: var(--font-base);
  margin: 2rem 0;

  .app__blogs-main {
    min-height: 100vh;
    width: 70%;
  }

  .vr {
    border-left: 1px solid rgba(0, 0, 0, 0.605);
  }
  .app__blogs-aside {
    margin: 0 3rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

    // background-color: green;

    .Aside-Search-Div {
      background-color: var(--white-color);
      display: flex;
      justify-content: space-between;
      border-radius: 24px;
      border: 2px solid rgba(0, 0, 0, 0.605);
      padding: 8px 10px;
      margin: 30px 0;
      width: 80%;

      button {
        width: 10%;
        background-color: var(--white-color);
        outline: none;
        border: none;
        cursor: pointer;
      }
      input {
        width: 90%;
        outline: none;
        border: none;
        background-color: var(--white-color);
        font-size: 16px;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .Aside-Tags {
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .Aside-Tags-Filter {
        margin: 0.2rem;
        color: var(--white-color);
        padding: 8px 12px;
        border-radius: 20px;
        cursor: pointer;
      }
      .Casual {
        background-color: var(--primary-color);
        color: var(--black-color);
      }

      .Books {
        background-color: var(--accent-color);
      }
      .Videogames {
        background-color: var(--secondary-color);
      }
      .Movies {
        background-color: var(--black-color);
      }
    }
  }
}
