.app__blogs {
  width: 100%;
  margin: 20rem auto;

  font-family: var(--font-base);
  background-color: var(--primary-color);

  .app__blogs-main {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    @media screen and (max-width: 1600px) {
      width: 90%;
    }
    .app__blogs-main-img {
      width: 10%;
      display: flex;
      align-items: top;
      justify-content: top;
      img {
        width: 100%;
        height: 50%;
      }
    }

    .app__blogs-main-blogs {
      margin: 0 auto;
      width: 55%;

      #ups {
        text-align: center;
        color: var(--secondary-color);
      }

      @media screen and (max-width: 1024px) {
        width: 90%;
      }
    }

    .app__blogs-main-aside {
      width: 30%;
      // top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: top;
      // margin: 2rem;
      // background-color: var(--primary-color);
      border-radius: 20px;
      // padding: 2rem;

      h4 {
        text-align: left;
        font-size: 24px;
      }
    }
  }

  .app__blogs-main-aside-categories {
    margin-bottom: 2rem;
    h5 {
      text-align: left;
      font-size: 24px;
      // margin-bottom: 1rem;
      text-decoration: underline;
      text-decoration-color: var(--secondary-color);
    }
    ul {
      text-align: left;
      list-style: none;
      li {
        cursor: pointer;
        color: var(--white-color);
        text-decoration: none;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid var(--secondary-color);
        padding: 1rem 0;
        &:hover {
          transition: all 0.3s ease-in-out;
          transform: translateX(-5px);
          color: var(--secondary-color);
        }
      }
    }
  }
}
