.SingleBlog {
  min-height: 100vh;
  background-color: var(--primary-color);
  padding: 5rem 0;

  font-family: var(--font-base);
}

.SingleBlog-main {
  width: 80%;
  display: flex;
  align-items: top;
  justify-content: space-evenly;
  margin: 0 auto;
}

.SingleBlog-content {
  width: 65%;
}

.SingleBlog-aside {
  width: 30%;
}
