@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

// body {
//   @apply bg-[#0f0f0f];
// }

//test

body {
  @apply bg-white dark:bg-black;
}

::selection {
  @apply bg-sky-200 text-black;
}

// .postCardIcon {
//   filter: invert(53%) sepia(38%) saturate(330%) hue-rotate(326deg)
//     brightness(101%) contrast(96%);
// }

// .postCardIcon:hover {
//   filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
//     brightness(101%) contrast(96%);
// }
.outline-title {
  color: #000000;
  -webkit-text-stroke: 2px #bae7fd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* * HAMBURGER MENU */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 6px;
  left: 0;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
  background: white;
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
  position: fixed;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}
