.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  z-index: 2;
  font-family: var(--font-base);

  .nav {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 30px;
    height: 30px;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    a {
      color: var(--white-color);
      text-decoration: none;
      flex-direction: column;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--black-color);
      }
    }

    &:hover {
      div {
        background-color: var(--accent-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}
